extends ../layout/index.pug
include ../partials/mixins/preview-list.pug
include ../partials/mixins/themes.pug

block variables
  - var mainClass = 'articles-category';

block content
  h1 Бизнес
  +Themes(categories, 'articles-category__theme-list')
  +PreviewList(articles, 'articles-category__list')
