extends layout/index.pug

block content
  h1.visually-hidden Авторизация пользователя
  section.modal
    div.popup.popup--registration
      button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно
      h2.visually-hidden Форма входа
      ul.popup__tabs
        li.popup__tab.popup__tab--register
          button.popup__tab-switcher.button(type='button') Регистрация
        li.popup__tab.popup__tab--active.popup__tab--log-in
          button.popup__tab-switcher.button(type='button') Войти
      div.popup__form.popup__form--active.form.form--log-in
        form(action='#' method='get')
          div.form__field
            label
              input(type='email' placeholder='Электронная почта' required)
          div.form__field
            label
              input(type='password' placeholder='Пароль' required)
          button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
    div.modal__overlay