extends ../layout/index.pug

block variables
  - var wrapperClass = 'wrapper wrapper--nobackground';
  - var mainClass = 'main-page main-page--padding';

block content
  section.main-page__notes.notes
    h1.notes__title Мои записи
    if articles.length
      ul.notes__list
        each article in articles
          li.notes__list-item
            time.notes__item-time(datetime=`${article.datetime}`) #{article.date}
            a.notes__item-text(href=`/articles/${article.id}`) #{article.title}
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
